rlbot>=2.0.0b44
torch
#git+https://github.com/JPK314/rlgym-compat.git@rlgymv2-rlbot-v5 # REMOVED BECAUSE THE FOLDER IS UPDATED FOR RLBOT NEWER VERSION, ONCE RLGYM_COMPAT IS UPDATED I'LL REMOVE THIS COMMENT, ejem @JPK314

pip
colorama